.navbar-brand img {
  width: 50px;
}

#main-title {
  text-align: center;
  margin: 15px 0 30px;
}

.navbar-nav .nav-link {
  background-color: #0842A3;
  border: 2px solid #0842A3;
  border-radius: 6px;
  margin-right: 5px;
}

.navbar-nav .nav-link:hover {
  background-color: transparent;
  border-color: #fff;
}

/* HOME */
#contacts-table {
  max-width: 800px;
  margin: 0 auto;
}

#contacts-table thead tr th{
  color: #fff;
  background-color: #007BFF;
}

.col-id {
  font-weight: bold;
}

.actions {
  text-align: right;
  width: 150px;
}

.check-icon {
  color: #1e7e34;
}

.edit-icon {
  color: #007bff;
}

.delete-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.delete-icon {
  color: #bd2130;
}

#empty-list-text {
  text-align: center;
}

#msg {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
  padding: 10px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}

/* SHOW PAGE */
#view-contact-container {
  max-width: 500px;
  margin: 0 auto;
}

.bold {
  font-weight: bold;
}
